
@{
    ViewData["Title"] = "ForgotPassword";
}
@section ValidationScripts {

    <script src="/modules/jquery-validation/dist/jquery.validate.js"></script>
    <script src="/modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}
<h1>Recover Password</h1>
<hr />
<form asp-controller="Account" asp-action="ForgotPassword" method="post">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group row">
                <label class="col-md-2">Email</label>
                <div class="col-md-10">
                    <input type="text" name="email" class="form-control" />
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-info btn-sm">Send Reset Email</button>
    </div>


</form>

